openapi: 3.0.0
info:
  title: Ledger
  version: '1.0'
  description: 'Accounting and financial API''s that help track, monitor and understand your budgets'
  contact:
    name: Matt
    email: matt@commoncents.io
servers:
  - url: 'https://api.commoncents.io/ledger'
paths:
  /accounting-events:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-accounting-events
      description: get a list of accounting events
    post:
      summary: ''
      operationId: post-accounting-events
      responses:
        '200':
          description: OK
      description: 'report a transaction from a card, bank, etc'
  '/account-events/:id':
    parameters: []
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-account-events-id
      description: get a single accounting event
  /measures:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-measures
      description: |
        get a list of the measures (KPIs or budgets) 
  '/measures/:id':
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: 'get-measure-:id'
      description: get a single measure by ID
    parameters: []
  /journal-entries:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-journal-entries
      description: 'get a list of journal entries (transactions) - done, and clean'
  '/journal-entries/:id':
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: 'get-journal-entries-:id'
      description: |
        get a single journal entry
  /receipts:
    get:
      summary: get a list of receipts
      tags: []
      responses: {}
      operationId: get-receipt
    parameters: []
    post:
      summary: create a receipt
      operationId: post-receipts
      responses:
        '200':
          description: OK
  '/receipts/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: get a receipt
      tags: []
      responses: {}
      operationId: get-receipts-id
    post:
      summary: get a single receipt
      operationId: post-receipts-id
      responses:
        '200':
          description: OK
    put:
      summary: update a receipt
      operationId: put-receipts-id
      responses:
        '200':
          description: OK
    delete:
      summary: delete a receipt
      operationId: delete-receipts-id
      responses:
        '200':
          description: OK
  /transactions:
    get:
      summary: get a list of transaction
      tags: []
      responses: {}
      operationId: get-transactions
    post:
      summary: create a transaction
      operationId: post-transactions
      responses:
        '200':
          description: OK
  '/transaction/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: get a single transaction
      tags: []
      responses: {}
      operationId: get-transaction-id
    put:
      summary: update a transaction
      operationId: put-transaction-id
      responses:
        '200':
          description: OK
  /cards:
    get:
      summary: get a list of cards
      tags: []
      responses: {}
      operationId: get-cards
      description: 'create a card '
    post:
      summary: create a card
      operationId: post-cards
      responses:
        '200':
          description: OK
  '/cards/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: get a single card
      tags: []
      responses: {}
      operationId: get-cards-id
    put:
      summary: update a card
      operationId: put-cards-id
      responses:
        '200':
          description: OK
  /funding:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-funding
      description: add a fundind source to your card
components:
  schemas:
    AccountingEvent:
      title: AccountingEvents
      type: object
      description: a raw bank transaction
      properties:
        id:
          type: string
        source:
          type: string
        observedAt:
          type: string
        accountingType:
          $ref: '#/components/schemas/AccountingType'
        key:
          type: string
        amountFractionalUnits:
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
        transactedAt:
          type: string
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        foreignKey:
          type: string
        memo:
          type: string
        metaData:
          type: object
        entity:
          $ref: '#/components/schemas/Entity'
    AccountingEntry:
      title: AccountingEntry
      type: object
      description: 'A finalized general ledger entry. Relates to a journal entry or a transaction. '
      properties:
        id:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        journalEntry:
          $ref: '#/components/schemas/JournalEntry'
        transactedAt:
          type: string
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        period:
          $ref: '#/components/schemas/Period'
        amountFractionalUnits:
          type: integer
        memo:
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
    Account:
      title: Account
      type: object
      description: 'Cash or accounts payable '
      properties:
        id:
          type: string
        accountingEntries:
          type: array
          items:
            $ref: '#/components/schemas/AccountingEntry'
        name:
          type: string
        code:
          type: string
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        entityID:
          type: string
        type:
          type: string
          description: credit or debit
        entity:
          $ref: '#/components/schemas/Entity'
      required:
        - type
    JournalEntry:
      title: JournalEntry
      type: object
      description: a total transaction assigned to an entity
      properties:
        id:
          type: string
        accountingType:
          $ref: '#/components/schemas/AccountingType'
        accountingEntries:
          type: array
          items:
            $ref: '#/components/schemas/AccountingEntry'
        amountFractionalUnits:
          type: integer
          description: |
            the cent in different currencies
        currency:
          $ref: '#/components/schemas/Currency'
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        transactedAt:
          type: string
        period:
          $ref: '#/components/schemas/Period'
        memo:
          type: string
        accountingEvent:
          $ref: '#/components/schemas/AccountingEvent'
    AccountingType:
      title: AccountingType
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        accountingEvents:
          type: array
          items:
            $ref: '#/components/schemas/AccountingEvent'
        journalEntries:
          type: array
          items:
            $ref: '#/components/schemas/JournalEntry'
        conversion:
          type: string
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        metaData:
          type: object
    LedgerEntry:
      title: LedgerEntry
      type: object
      properties:
        id:
          type: string
        measure:
          $ref: '#/components/schemas/Measure'
        accountingEntry:
          $ref: '#/components/schemas/AccountingEntry'
        period:
          $ref: '#/components/schemas/Period'
        entity:
          $ref: '#/components/schemas/Entity'
        status:
          type: string
        version:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        amountFractionalUnits:
          type: integer
        memo:
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
    Period:
      title: Period
      type: object
      description: 'monthly periods (or other) '
      properties:
        id:
          type: string
        name:
          type: string
        year:
          type: integer
        startsAt:
          type: string
        endsAt:
          type: string
        frequency:
          type: string
        month:
          type: integer
        periodicity:
          $ref: '#/components/schemas/Periodicity'
    Measure:
      title: Measure
      type: object
      description: some kind of budget or KPI
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        conversion:
          type: string
          description: |
            reference to a lambda
        metaData:
          type: string
        periodicity:
          $ref: '#/components/schemas/Periodicity'
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        referencableType:
          type: string
        referencableID:
          type: string
        version:
          type: string
        status:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    Currency:
      title: Currency
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
        fractionalUnit:
          type: string
        numberToBasic:
          type: integer
    MeasureAssignment:
      title: MeasureAssignment
      type: object
      properties:
        id:
          type: string
        measure:
          $ref: '#/components/schemas/Measure'
        entity:
          $ref: '#/components/schemas/Entity'
        activatedAt:
          type: string
        deactivatedAt:
          type: string
        status:
          type: string
        version:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
      description: |
        Track when different entities use different measures or budgets
    Periodicity:
      title: Periodicity
      type: object
      properties:
        id:
          type: string
        frequency:
          type: string
        parent:
          $ref: '#/components/schemas/Periodicity'
        '':
          type: string
